body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.left {
  float: left;
}

.left {
  display: flex;
  height: 100vh;
  width: 500px;
  background-image: url(/Users/santiago/sign-up-form/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
  background-size: cover;
}

.right {
  display: flex;
}
