html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Norse Bold";
  src: url(/Users/santiago/sign-up-form/Norse-Bold.otf);
}

.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 35%;
  background-image: url(/Users/santiago/sign-up-form/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 200px;
  align-items: center;
  position: relative;
  top: 10%;
  gap: 20px;
}

img {
  height: 80px;
  color: white;
}

h1 {
  color: white;
  font-size: 77px;
  font-family: "Norse Bold";
}

.photo-cred,
a {
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.big-text {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.top-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 44px;
  padding-left: 24px;
}

.top {
  display: flex;
  align-items: flex-end;
  background-color: #f9fafb;
  height: 32%;
  padding: 20px;
}

p {
  margin: 0;
  font-family: arial;
}

.big-text {
  max-width: 650px;
}

.middle {
  background-color: white;
  height: 36%;
  /* box-shadow: 0px 5px 5px black; */
}

.bottom {
  background-color: #f9fafb;
  height: 32%;
}
